<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 需要解密的文件 -->
    <bean class="com.xxbase.method.EncryptPropertyConfigurer" lazy-init="false">
        <property name="location" value="classpath:xx-jdbc.properties"/>
        <property name="fileEncoding" value="UTF-8"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="false">
        <property name="order" value="1"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="location" value="classpath:xx-config.properties"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="cacheSeconds" value="${message.cache_seconds}"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
        <property name="fileEncodings" value="${system.charset}"/>
        <property name="basenames">
            <list>
                <value>${message.common_path}</value>
                <value>${message.admin_path}</value>
            </list>
        </property>
    </bean>

    <!-- 指定国际化编码UTF-8 -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.FixedLocaleResolver">
        <property name="defaultLocale" value="${system.locale}"/>
    </bean>

    <import resource="classpath:spring-db.xml"/>
    <import resource="classpath:spring-tx.xml"/>
    <import resource="classpath:spring-cache.xml"/>
    <import resource="classpath:spring-shiro.xml"/>
    <import resource="spring-captcha.xml"/>
    <import resource="classpath:spring-task.xml"/>
    <!--<import resource="classpath:spring-activiti.xml"/>-->

</beans>