<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="/admin/login.jsp"></property>
        <property name="successUrl" value="/admin/common/main.html"></property>
        <property name="filterChainDefinitions">
            <value>
                <!--/admin/**=authc-->
                /admin/login.jsp=authc
                /admin/logout.jsp = logout
            </value>
        </property>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="authenticationFilter"></entry>
            </map>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="authenticationRealm"></property>
    </bean>

    <!-- 基于表单提交过滤器 -->
    <bean id="authenticationFilter" class="com.xxblog.auth.AuthenticationFilter"></bean>

    <!-- 自定义Realm,权限验证 -->
    <bean id="authenticationRealm" class="com.xxblog.auth.AuthenticationRealm"/>


    <!--<bean id="passwordRetryCache" class="com.aplus.filter.RetryLimitHashedCredentialsMatcher">-->
    <!--<constructor-arg ref="cacheManager"/>-->
    <!--<property name="hashAlgorithmName" value="md5"/>-->
    <!--<property name="hashIterations" value="2"/>-->
    <!--<property name="storedCredentialsHexEncoded" value="true"/>-->
    <!--</bean>-->

</beans>